<!-- Validation failure messages -->
<% if @group_order.errors.any? %>
  <% @group_order.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Group Order #<%= @group_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_group_order/<%= @group_order.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for receipt -->
      <div class="form-group">
        <label for="receipt" class="control-label">
          Receipt
        </label>

        <%= cl_image_tag(@group_order.receipt.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="receipt" name="receipt" class="form-control">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @group_order.price %>">
      </div>

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @group_order.restaurant_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Group Order
      </button>
      or
      <a href="/group_orders/<%= @group_order.id %>">Cancel</a>
    </form>
  </div>
</div>
