<div class="page-header">
  <h3>Group Order #<%= @group_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Receipt</dt>
      <dd><img src="<%= @group_order.receipt %>" class="img-responsive"></dd>

      <dt>Price</dt>
      <dd><%= @group_order.price %></dd>

      <dt>Restaurant</dt>
      <dd><%= @group_order.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/group_orders" class="btn btn-primary">
        Back
      </a>
      <a href="/group_orders/<%= @group_order.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group_order/<%= @group_order.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Group order has many orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Orders
      </li>

      <% @group_order.orders.each do |order| %>
        <li class="list-group-item">
          <a href="/orders/<%= order.id %>">
            <%= order.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/orders/<%= order.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/orders/<%= order.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_order/<%= order.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
