<div class="page-header">
  <h3>Order #<%= @order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @order.user.present? %>
          <a href="/users/<%= @order.user_id %>">
            <%= @order.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Dish</dt>
      <dd>
        <% if @order.dish.present? %>
          <a href="/dishes/<%= @order.dish_id %>">
            <%= @order.dish.name %>
          </a>
        <% end %>
      </dd>

      <dt>User comment</dt>
      <dd><%= @order.user_comment %></dd>

      <dt>Group order</dt>
      <dd>
        <% if @order.group_order.present? %>
          <a href="/group_orders/<%= @order.group_order_id %>">
            <%= @order.group_order.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/orders" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @order.user %>
        <a href="/orders/<%= @order.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_order/<%= @order.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
