<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @dish.name %></dd>

      <dt>Menu</dt>
      <dd>
        <% if @dish.menu.present? %>
          <a href="/menus/<%= @dish.menu_id %>">
            <%= @dish.menu.restaurant_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Orders
      </li>

      <% @dish.orders.each do |order| %>
        <li class="list-group-item">
          <a href="/orders/<%= order.id %>">
            <%= order.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/orders/<%= order.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/orders/<%= order.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_order/<%= order.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">

      <!-- Label and input for user_comment -->
      <div class="form-group">
        <label for="user_comment" class="control-label">
          User comment
        </label>

        <input type="text" id="user_comment" name="user_comment" placeholder="User comment" class="form-control" value="">
      </div>

      <!-- Label and input for group_order_id -->
      <div class="form-group">
        <label for="group_order_id" class="control-label">
          Group order
        </label>

        <%= select_tag(:group_order_id, options_from_collection_for_select(GroupOrder.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Order
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
